Python Boolean Values:

In [2]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

When you run a condition in an if statement, Python returns True or False:

In [5]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

The bool() function allows you to evaluate any value, and give you True or False in return:

In [9]:
print(bool("Hello"))
print(bool(15))

True
True

In [11]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

Any string is True, except empty strings.
Any number is True, except 0.
Any list, tuple, set, and dictionary are True, except empty ones.

In [14]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

Examples of values that evaluate to False:

In [17]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

Object that is made from a class with a __len__ function that returns 0 or False:

In [19]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

Functions can Return a Boolean:

In [34]:
def myFunction():
    return True

print(myFunction())

True

You can execute code based on the Boolean answer of a function:

In [36]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

isinstance() function:

In [47]:
x = 200
print(isinstance(x, int))

True

Python Operators:

Python Arithmetic Operators:

Addition:

In [68]:
x = 5
y = 10
print(x + y)

15

Subtraction:

In [70]:
x = 10
y = 5
print(x - y)

5

Multiplication:

In [72]:
x = 10
y = 5
print(x * y)

50

Division:

In [75]:
x = 10
y = 5
print(x / y)

2.0

Modulus:

In [80]:
x = 9
y = 5
print(x % y)

4

Exponentiation:

In [83]:
x = 10
y = 5
print(x ** y)

100000

Floor division:

In [86]:
x = 10
y = 5
print(x // y)

2

Python Assignment Operators:

In [101]:
x = 2
for i in range(x):
    print(x)
    x += 3 # x = x + 3

2
5

In [105]:
x = 2
for i in range(x):
    print(x)
    x -= 3 # x = x - 3

2
-1

In [107]:
x = 2
for i in range(x):
    print(x)
    x *= 3 # x = x * 3

2
6

In [109]:
x = 2
for i in range(x):
    print(x)
    x /= 3 # x = x / 3

2
0.6666666666666666

In [111]:
x = 2
for i in range(x):
    print(x)
    x %= 3 # x = x % 3

2
2

In [113]:
x = 2
for i in range(x):
    print(x)
    x //= 3 # x = x // 3

2
0

In [115]:
x = 2
for i in range(x):
    print(x)
    x **= 3 # x = x ** 3

2
8

In [117]:
x = 2
for i in range(x):
    print(x)
    x &= 3 # x = x & 3

2
2

In [119]:
x = 2
for i in range(x):
    print(x)
    x |= 3 # x = x | 3

2
3

In [121]:
x = 2
for i in range(x):
    print(x)
    x ^= 3 # x = x ^ 3

2
1

In [123]:
x = 2
for i in range(x):
    print(x)
    x >>= 3 # x = x >> 3

2
0

In [125]:
x = 2
for i in range(x):
    print(x)
    x <<= 3 # x = x << 3

2
16

In [139]:
print(x := 3) # x = 3
              # print(x)

3

Python Comparison Operators:

In [153]:
x = 5
y = 10
print(x == y) # equal
print(x != y) # not equal
print(x > y) # greater than
print(x < y) # less than
print(x >= y) # greater than or equal to
print(x <= y) # less than or equal to

False
True
False
True
False
True

Python Logical Operators:

In [166]:
x = 5
y = 10
print(x < 6 and  y < 11) # True if both statements are true
print(x < 6 or y < 4) # True if at least one is true
print(not(x < 5 and x < 10)) # reversed result

True
True
True

Python Identity Operators:

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [182]:
x = 5
y = y
print(x is y)

True

In [190]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z) # returns True because z is the same object as x

print(x is not z) # returns False because z is the same object as x

print(x is y) # returns False because x is not the same object as y, even if they have the same content

print(x == y) # to demonstrate the difference betweeen "is" and "==": this comparison rewturns True because x is equal to y

True
False
False
True

Python Membership Operators:

In [201]:
x = ["apple", "banana"]

print("banana" in x) # returns True because a sequence with the value "banana" is in the list

print("orange" not in x) # returns True because a sequence with the value "orange" is  not in the list

True
True

Python Bitwise Operators:

In [57]:
x = 6 #110 as binary value
y = 3 #011 as binary value
print(x & y) #Sets each bit to 1 if both bits are 1
print(x | y) #Sets each bit to 1 if one of two bits is 1
print(x ^ y) #Sets each bit to 1 if only one of two bits is 1
print(~x) #inverts all the bits 000000110 -> 111111001
print(x << 2) #Shift left by pushing zeros in from the right and let the leftmost bits fall off 00110 -> 11000
print(x >> 2) #Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off 00110 -> 00001

2
7
5
-7
24
1

Operator Precedence:

Parentheses has the highest precedence, meaning that expressions inside parentheses must be evaluated first:

In [232]:
print((6 + 3) - (6 + 3))

0

Multiplication * has higher precedence than addition +, and therefor multiplications are evaluated before additions:

In [237]:
print(100 + 5 * 3)

115

Addition + and subtraction - has the same precedence, and therefor we evaluate the expression from left to right:

In [243]:
print(5 + 4 - 7 + 3)

5

Python List:

In [246]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

Lists allow duplicate values:

In [249]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

To determine how many items a list has, use the len() function:

In [252]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

Data types of elements of list:

String, int and boolean data types:

In [258]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

A list with strings, integers and boolean values:

In [263]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

What is the data type of a list?

In [266]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

It is also possible to use the list() constructor when creating a new list:

In [270]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

Access Items

Print the second item of the list:

In [274]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

Print the last item of the list:

In [277]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

Return the third, fourth, and fifth item:

In [280]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

This example returns the items from the beginning to, but NOT including, "kiwi":

In [283]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

This example returns the items from "cherry" to the end:

In [286]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

In [289]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

Check if "apple" is present in the list:

In [292]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [296]:
list = [1, 2, 3, 4]
print(list[2:4])

[3, 4]

Change List Items

Change the second item:

In [300]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

In [303]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

Change the second value by replacing it with two new values:

In [306]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

Change the second and third value by replacing it with one value:

In [309]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

Insert "watermelon" as the third item:

In [312]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

Add List Items:

Using the append() method to append an item:

In [316]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

Insert an item as the second position:

In [319]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

Add the elements of tropical to thislist:

In [328]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

Add elements of a tuple to a list:

In [331]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

Remove List Items

Remove "banana":

In [335]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

Remove the first occurrence of "banana":

In [338]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

Remove the second item:

In [341]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

Remove the last item:

In [346]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

Remove the first item:

In [349]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

Delete the entire list:

In [358]:
thislist = ["apple", "banana", "cherry"]
del thislist

Clear the list content:

In [361]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

Loop Through a List

Print all items in the list, one by one:

In [366]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

Print all items by referring to their index number:

In [369]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

Print all items, using a while loop to go through all the index numbers:

In [373]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

A short hand for loop that will print all items in a list:

In [380]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

List Comprehension

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name:

In [388]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [433]:
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

Only accept items that are not "apple":

In [431]:
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

With no if statement:

In [429]:
newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

You can use the range() function to create an iterable:

In [415]:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Accept only numbers lower than 5:

In [420]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

Set the values in the new list to upper case:

In [427]:
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

Set all values in the new list to 'hello':

In [436]:
newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

Return "orange" instead of "banana":

In [449]:
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

Sort Lists

Sort the list alphabetically:

In [455]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

Sort the list numerically:

In [458]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

Sort the list descending:

In [461]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

Sort the list descending:

In [464]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

Sort the list based on how close the number is to 50:

In [467]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

Case sensitive sorting can give an unexpected result:

In [484]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

Reverse the order of the list items:

In [487]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

Copy Lists

Make a copy of a list with the copy() method:

In [495]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Make a copy of a list with the list() method:

In [13]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

Make a copy of a list with the : operator:

In [16]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

Join Lists

Join two list:

In [20]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Append list2 into list1:

In [23]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

Use the extend() method to add list2 at the end of list1:

In [26]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

List Methods

append() Method:

In [32]:
list1 = [1, 2, 3]
list1.append(4)
print(list1)

[1, 2, 3, 4]

clear() Method:

In [92]:
list1 = [1, 2, 3]
list1.clear()
print(list1)

[]

copy() Method:

In [84]:
list1 = [1, 2, 3]
list2 = list1.copy()
print(list2)

[1, 2, 3]

extend() Method:

In [50]:
list1 = [1, 2, 3]
list2 = []
list2.extend(list1)
print(list2)

[1, 2, 3]

index() Method:

In [55]:
list1 = [1, 2, 3]
print(list1.index(2)) #index of value 2 is 1

1

insert Method():

In [62]:
list1 = [1, 2, 3]
list1.insert(1, 4)
print(list1)

[1, 4, 2, 3]

pop() Method:

In [77]:
list1 = [1, 2, 3]
list1.pop(0) #removes the last value as a default
print(list1)

[2, 3]

reverse() Method:

In [94]:
list1 = [1, 2, 3]
list1.reverse()
print(list1)

[3, 2, 1]

sort() Method:

In [103]:
list1 = [3, 1, 2]
list1.sort(reverse = True) #sorting in ASC order as a default
print(list1)

[3, 2, 1]

Python Tuples

A tuple is a collection which is ordered and unchangeable.

In [106]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Tuples allow duplicate values:

In [110]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

Print the number of items in the tuple:

In [114]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

One item tuple, remember the comma:

In [117]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

Tuple Items - Data Types

String, int and boolean data types:

In [125]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

A tuple with strings, integers and boolean values:

In [130]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

What is the data type of a tuple?

In [135]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

Using the tuple() method to make a tuple:

In [138]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

Access Tuple Items

Print the second item in the tuple:

In [142]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Print the last item of the tuple:

In [145]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

Return the third, fourth, and fifth item:

In [150]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

This example returns the items from the beginning to, but NOT included, "kiwi":

In [153]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

This example returns the items from "cherry" and to the end:

In [156]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

This example returns the items from index -4 (included) to index -1 (excluded):

In [162]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

Check if "apple" is present in the tuple:

In [165]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Update Tuples

Convert the tuple into a list to be able to change it:

In [171]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

Convert the tuple into a list, add "orange", and convert it back into a tuple:

In [179]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

Create a new tuple with the value "orange", and add that tuple:

In [182]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

Convert the tuple into a list, remove "apple", and convert it back into a tuple:

In [185]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

The del keyword can delete the tuple completely:

In [188]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

Unpack Tuples

Packing a tuple:

In [194]:
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

Unpacking a tuple:

In [197]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

Assign the rest of the values as a list called "red":

In [200]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

Add a list of values the "tropic" variable:

In [203]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Loop Tuples

Iterate through the items and print the values:

In [207]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

Print all items by referring to their index number:

In [210]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

Print all items, using a while loop to go through all the index numbers:

In [213]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

Join Tuples

Join two tuples:

In [217]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

Multiply the fruits tuple by 2:

In [220]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Tuple Methods

count() Method:

In [236]:
fruits = ("apple", "banana", "cherry")
print(fruits.count("apple"))

1

index() Method:

In [247]:
fruits = ("apple", "banana", "cherry")
print(fruits.index("apple"))

0

Python Sets

In [250]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

Duplicate values will be ignored:

In [253]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'cherry', 'apple', 'banana'}

True and 1 is considered the same value, same with False and 0:

In [261]:
thisset = {"apple", "banana", "cherry", True, 1, 2, False, 0}
print(thisset)

{False, True, 2, 'cherry', 'apple', 'banana'}

Get the number of items in a set:

In [264]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

String, int and boolean data types:

In [267]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'cherry', 'apple', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

A set with strings, integers and boolean values:

In [270]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'abc', 40, 'male'}

What is the data type of a set?

In [275]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

Using the set() constructor to make a set:

In [278]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

Access Set Items

Loop through the set, and print the values:

In [282]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

cherry
apple
banana

Check if "banana" is present in the set:

In [285]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

Check if "banana" is NOT present in the set:

In [288]:
thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

False

Add Set Items

Add an item to a set, using the add() method:

In [292]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'cherry', 'apple', 'banana'}

Add elements from tropical into thisset:

In [295]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'cherry', 'pineapple', 'apple', 'banana', 'mango', 'papaya'}

Add elements of a list to at set:

In [298]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'kiwi', 'cherry', 'banana', 'apple', 'orange'}

Remove Set Items

Remove "banana" by using the remove() method:

In [302]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

Remove "banana" by using the discard() method:

In [305]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

Note: If the item to remove does not exist, discard() will NOT raise an error.

Remove a random item by using the pop() method:

In [309]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

cherry
{'apple', 'banana'}

Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

The clear() method empties the set:

In [315]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

The del keyword will delete the set completely:

In [333]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

Loop Sets

Loop through the set, and print the values:

In [336]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

cherry
apple
banana

Join Sets

Join set1 and set2 into a new set using union() Method:

In [342]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 'a', 3, 'b'}

Use | to join two sets:

In [345]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)

{'c', 1, 2, 'a', 3, 'b'}

Join multiple sets with the union() method:

In [348]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'a', 'cherry', 'bananas', 'b', 'c', 'Elena', 'apple', 'John'}

Use | to join more sets:

In [351]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'a', 'cherry', 'bananas', 'b', 'c', 'Elena', 'apple', 'John'}

Join a set with a tuple:

In [356]:
x = {"a", "b", "c"}
y = (1, 2, 3)
z = x.union(y)
print(z)

{1, 2, 3, 'a', 'b', 'c'}

The update() method inserts the items in set2 into set1:

In [359]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{'c', 1, 2, 'a', 3, 'b'}

Note: Both union() and update() will exclude any duplicate items.

Join set1 and set2, but keep only the duplicates:

In [368]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2) #for other types of data too
print(set3)

{'apple'}

Use & to join two sets:

In [366]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 & set2 #only for set to set
print(set3)

{'apple'}

Keep the items that exist in both set1, and set2:

In [371]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:

In [374]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}
set3 = set1.intersection(set2)
print(set3)

{False, 1, 'apple'}

Keep all items from set1 that are not in set2:

In [377]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)

{'cherry', 'banana'}

Use - to join two sets:

In [382]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

Use the difference_update() method to keep the items that are not present in both sets:

In [385]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

Keep the items that are not present in both sets:

In [388]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

{'cherry', 'banana', 'google', 'microsoft'}

Use ^ to join two sets:

In [391]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 ^ set2
print(set3)

{'cherry', 'banana', 'google', 'microsoft'}

Use the symmetric_difference_update() method to keep the items that are not present in both sets:

In [394]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
print(set1)

{'cherry', 'banana', 'google', 'microsoft'}

Set Methods

add Method():

Add an element to the fruits set:

In [22]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'apple', 'banana', 'cherry', 'orange'}

clear Method():

Remove all elements from the fruits set:

In [25]:
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

set()

copy() Method:

Copy the fruits set:

In [28]:
fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
print(x)

{'apple', 'banana', 'cherry'}

difference() Method:

Return a set that contains the items that only exist in set x, and not in set y:

In [31]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z)

{'cherry', 'banana'}

difference_update() Method:

Remove the items that exist in both sets:

In [36]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y)
print(x)

{'banana', 'cherry'}

discard() Method:

Remove "banana" from the set:

In [40]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'cherry'}

intersection() Method:

Return a set that contains the items that exist in both set x, and set y:

In [44]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

isdisjoint() Method:

Return True if no items in set x is present in set y:

In [48]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

issubset() Method:

Return True if all items in set x are present in set y:

In [52]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)

True

issuperset() Method:

Return True if all items of set y are present in set x:

In [59]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

True

pop() Method:

Remove a random item from the set:

In [62]:
fruits = {"apple", "banana", "cherry"}
fruits.pop()
print(fruits)

{'banana', 'cherry'}

remove() Method:

Remove "banana" from the set:

In [67]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

symmertic_defference() Method:

Return a set that contains all items from both sets, except items that are present in both sets:

In [71]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'banana', 'microsoft', 'google', 'cherry'}

symmetric_difference_update() Method:

Remove the items that are present in both sets, AND insert the items that is not present in both sets:

In [75]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'google', 'banana', 'cherry', 'microsoft'}

union() Method:

Return a set that contains all items from both sets, duplicates are excluded:

In [79]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
print(z)

{'cherry', 'google', 'microsoft', 'apple', 'banana'}

update() Method:

Insert the items from set y into set x:

In [83]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.update(y)
print(x)

{'cherry', 'google', 'microsoft', 'apple', 'banana'}

Python Dictionary

In [88]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Print the "brand" value of the dictionary:

In [91]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

Duplicate values will overwrite existing values:

In [94]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

Print the number of items in the dictionary:

In [97]:
print(len(thisdict))

3

String, int, boolean, and list data types:

In [107]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

Print the data type of a dictionary:

In [105]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

Using the dict() method to make a dictionary:

In [110]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

Access Dictionary Items

Get the value of the "model" key:

In [116]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [123]:
x = thisdict.get("model")
print(x)

Mustang

Get a list of the keys:

In [129]:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

Add a new item to the original dictionary, and see that the keys list gets updated as well:

In [132]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.keys()
print(x) #before the change

car["color"] = "white"
print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

Get a list of the values:

In [136]:
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

Make a change in the original dictionary, and see that the values list gets updated as well:

In [139]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()
print(x) #before the change

car["year"] = 2020
print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

Add a new item to the original dictionary, and see that the values list gets updated as well:

In [146]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()
print(x) #before the change

car["color"] = "red"
print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

Get a list of the key:value pairs

In [153]:
x = thisdict.items()
print(x) #return the pairs as a tuplets in a list

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

Make a change in the original dictionary, and see that the items list gets updated as well:

In [156]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()
print(x) #before the change

car["year"] = 2020
print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

Add a new item to the original dictionary, and see that the items list gets updated as well:

In [161]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()
print(x) #before the change

car["color"] = "red"
print(x) #after the chang

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

Check if "model" is present in the dictionary:

In [164]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

Change Items

Change the "year" to 2018:

In [173]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

Update the "year" of the car by using the update() method:

In [176]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

Add Dictionary Items

Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [180]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

Add a color item to the dictionary by using the update() method:

In [185]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

Remove Dictionary Items

The pop() method removes the item with the specified key name:

In [189]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

In [192]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

The del keyword removes the item with the specified key name:

In [195]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

The del keyword can also delete the dictionary completely:

In [198]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists

NameError: name 'thisdict' is not defined

The clear() method empties the dictionary:

In [201]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

Loop Through a Dictionary

Print all key names in the dictionary, one by one:

In [205]:
for x in thisdict:
  print(x)

Print all values in the dictionary, one by one:

In [208]:
for x in thisdict:
  print(thisdict[x])

You can also use the values() method to return values of a dictionary:

In [211]:
for x in thisdict.values():
  print(x)

You can use the keys() method to return the keys of a dictionary:

In [214]:
for x in thisdict.keys():
  print(x)

Loop through both keys and values, by using the items() method:

In [217]:
for x, y in thisdict.items():
  print(x, y)

Copy a Dictionary

Make a copy of a dictionary with the copy() method:

In [221]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Make a copy of a dictionary with the dict() function:

In [226]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Nested Dictionaries

Create a dictionary that contain three dictionaries:

In [230]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

In [233]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

Print the name of child 2:

In [236]:
print(myfamily["child2"]["name"])

Tobias

Loop through the keys and values of all nested dictionaries:

In [239]:
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

Dictionary Methods

clear() Method:

Remove all elements from the car list:

In [248]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()
print(car)

{}

Copy the car dictionary:

In [253]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.copy()
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

fromkeys() Method:

Create a dictionary with 3 keys, all with the value 0:

In [257]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)
print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

get() Method:

Get the value of the "model" item:

In [261]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")
print(x)

Mustang

items() Method:

Return the dictionary's key-value pairs:

In [265]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

keys() Method:

Return the keys:

In [272]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

pop() Method:

Remove "model" from the dictionary:

In [278]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

popitem() Method:

In [283]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.popitem()
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

setdefault() Method:

Get the value of the "model" item:

In [287]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")
print(x)

Mustang

update() Method:

Insert an item to the dictionary:

In [291]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

values() Method:

Return the values:

In [295]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

Python If Else

If statement:

In [299]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

If statement, without indentation (will raise an error):

In [302]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: expected an indented block after 'if' statement on line 3 (1443227691.py, line 4)

The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [305]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

The else keyword catches anything which isn't caught by the preceding conditions.

In [308]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

You can also have an else without the elif:

In [311]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

One line if statement:

In [316]:
if a > b: print("a is greater than b")

a is greater than b

In [318]:
a = 2
b = 330
print("A") if a > b else print("B")

B

One line if else statement, with 3 conditions:

In [327]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

Test if a is greater than b, AND if c is greater than a:

In [330]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

Test if a is greater than b, OR if a is greater than c:

In [333]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

Test if a is NOT greater than b:

In [336]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

You can have if statements inside if statements, this is called nested if statements.

In [339]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [342]:
a = 33
b = 200

if b > a:
  pass

Python While Loops

Print i as long as i is less than 6:

In [346]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

Exit the loop when i is 3:

In [349]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

Continue to the next iteration if i is 3:

In [352]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

Print a message once the condition is false:

In [355]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Python For Loops

Print each fruit in a fruit list:

In [359]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

Loop through the letters in the word "banana":

In [362]:
for x in "banana":
  print(x)

b
a
n
a
n
a

Exit the loop when x is "banana":

In [365]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

Exit the loop when x is "banana", but this time the break comes before the print:

In [368]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

Do not print banana:

In [371]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

Using the range() function:

In [374]:
for x in range(6):
  print(x)

0
1
2
3
4
5

Using the start parameter:

In [377]:
for x in range(2, 6):
  print(x)

2
3
4
5

Increment the sequence with 3 (default is 1):

In [380]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

Print all numbers from 0 to 5, and print a message when the loop has ended:

In [387]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

Break the loop when x is 3, and see what happens with the else block:

In [390]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

Print each adjective for every fruit:

In [393]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [396]:
for x in [0, 1, 2]:
  pass