Functions

In [3]:
def my_function():
  print("Hello from a function")

To call a function, use the function name followed by parenthesis:

In [6]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [10]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

This function expects 2 arguments, and gets 2 arguments:

In [1]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

This function expects 2 arguments, but gets only 1:

In [4]:
def myFunction(fname, lname):
    print(fname, " ", lname)

myFunction("Mark")

TypeError: myFunction() missing 1 required positional argument: 'lname'

If the number of arguments is unknown, add a * before the parameter name:

In [287]:
def myFunction(*kids):
    print("The last child in list is " + kids[-1])

myFunction("Emil", "Tobias", "Linus")

The last child in list is Linus

You can also send arguments with the key = value syntax.

In [291]:
def my_function(child3, child2, child1):
  print("The 3rd child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The 3rd child is Linus

If the number of keyword arguments is unknown, add a double ** before the parameter name:

In [295]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

If we call the function without argument, it uses the default value:

In [24]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function

In [29]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

To let a function return a value, use the return statement:

In [32]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

In [297]:
def myfunction():
    pass

To specify that a function can have only positional arguments, add , / after the arguments:

In [51]:
def my_function(x, /):
  print(x)

my_function(3)

3

Without the , / you are actually allowed to use keyword arguments even if the function expects positional arguments:

In [47]:
def my_function(x):
  print(x)

my_function(x = 3)

3

But when adding the , / you will get an error if you try to send a keyword argument:

In [54]:
def my_function(x, /):
  print(x)

my_function(x = 3)

TypeError: my_function() got some positional-only arguments passed as keyword arguments: 'x'

To specify that a function can have only keyword arguments, add *, before the arguments:

In [63]:
def my_function(*, x):
  print(x)

my_function(x = 3)

3

Without the *, you are allowed to use positionale arguments even if the function expects keyword arguments:

In [66]:
def my_function(x):
  print(x)

my_function(3)

3

But with the *, you will get an error if you try to send a positional argument:

In [69]:
def my_function(*, x):
  print(x)

my_function(3)

TypeError: my_function() takes 0 positional arguments but 1 was given

Any argument before the / , are positional-only, and any argument after the *, are keyword-only.

In [74]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

Recursion Example

In [79]:
def rec(k):
  if(k > 0):
    result = k + rec(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
rec(6)

Recursion Example Results:
1
3
6
10
15
21

21

Lambda Functions

Add 10 to argument a, and return the result:

In [83]:
x = lambda a : a + 10
print(x(5))

15

Multiply argument a with argument b and return the result:

In [88]:
x = lambda a, b : a * b
print(x(5, 6))

30

Summarize argument a, b, and c and return the result:

In [91]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [94]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

Or, use the same function definition to make a function that always triples the number you send in:

In [97]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(3)

print(mydoubler(11))

33

Or, use the same function definition to make both functions, in the same program:

In [102]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

Classes/Objects

Create a class named MyClass, with a property named x:

In [107]:
class MyClass:
  x = 5

Create an object named p1, and print the value of x:

In [110]:
p1 = MyClass()
print(p1.x)

5

Create a class named Person, use the __init__() function to assign values for name and age:

In [123]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

The string representation of an object WITHOUT the __str__() function:

In [119]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x0000025CC64C9460>

The string representation of an object WITH the __str__() function:

In [126]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

Insert a function that prints a greeting, and execute it on the p1 object:

In [140]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def myFunc(self):
        print("Hello " + self.name)

p1 = Person("John", 36)
p1.myFunc()

Hello John

Use the words mysillyobject and abc instead of self:

In [142]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

Set the age of p1 to 40:

In [145]:
p1.age = 40

Delete the age property from the p1 object:

In [148]:
del p1.age

Delete the p1 object:

In [151]:
del p1

class definitions cannot be empty, but if you for some reason have a class definition with no content, put in the pass statement to avoid getting an error.

In [154]:
class Person:
  pass

Python Inheritance

Create a class named Person, with firstname and lastname properties, and a printname method:

In [160]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

Create a class named Student, which will inherit the properties and methods from the Person class:

In [163]:
class Student(Person):
  pass

Note: Use the pass keyword when you do not want to add any other properties or methods to the class.

Use the Student class to create an object, and then execute the printname method:

In [198]:
myObject = Student("Maks", 17)
myObject.printname()

Maks 17

Note: The __init__() function is called automatically every time the class is being used to create a new object.

Add the __init__() function to the Student class:

In [202]:
class Student(Person):
  def __init__(self, fname, lname):
    #add properties etc.

SyntaxError: incomplete input (322465492.py, line 3)

To keep the inheritance of the parent's __init__() function, add a call to the parent's __init__() function:

In [205]:
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

Python also has a super() function that will make the child class inherit all the methods and properties from its parent:

In [212]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

Add a property called graduationyear to the Student class:

In [215]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

Add a year parameter, and pass the correct year when creating objects:

In [251]:
class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.graduationyear = year

x = Student("maks", "khan", 2023)
print(x.graduationyear)

2023

Add a method called welcome to the Student class:

In [281]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("maks", "khan", 2023)
x.welcome()

Welcome maks khan to the class of 2023