Python Iterators

Return an iterator from a tuple, and print each value:

In [7]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

Strings are also iterable objects, containing a sequence of characters:

In [10]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

Iterate the values of a tuple:

In [64]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

Iterate the characters of a string:

In [17]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

Create an iterator that returns numbers, starting with 1, and each sequence will increase by one (returning 1,2,3,4,5 etc.):

In [22]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

To prevent the iteration from going on rever, we can use the StopIteration statement.

Stop after 20 iterations:

In [28]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

Python Scope

A variable created inside a function is available inside that function:

In [32]:
def myfunc():
  x = 300
  print(x)

myfunc()

300

The local variable can be accessed from a function within the function:

In [35]:
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

Global Scope

A variable created outside of a function is global and can be used by anyone:

In [39]:
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

The function will print the local x, and then the code will print the global x:

In [42]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

Global Keyword

If you use the global keyword, the variable belongs to the global scope:

In [94]:
def myfunc():
    global x
    x = 300

myfunc()

print(x)

300

To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [97]:
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

200

If you use the nonlocal keyword, the variable will belong to the outer function:

In [18]:
def myfunc1():
  x = "Jane"
  def myfunc2():
    nonlocal x
    x = "hello"
  myfunc2()
  return x

print(myfunc1())

hello

Python Datetime

Import the datetime module and display the current date:

In [22]:
import datetime

x = datetime.datetime.now()
print(x)

2025-02-18 11:33:14.364119

Return the year and name of weekday:

In [25]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2025
Tuesday

Create a date object:

In [28]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

Display the name of the month:

In [31]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

Python Math

The min() and max() functions can be used to find the lowest or highest value in an iterable:

In [37]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

The abs() function returns the absolute (positive) value of the specified number:

In [40]:
x = abs(-7.25)

print(x)

7.25

Return the value of 4 to the power of 3 (same as 4 * 4 * 4):

In [43]:
x = pow(4, 3)

print(x)

64

Python has also a built-in module called math, which extends the list of mathematical functions.

In [46]:
import math

x = math.sqrt(64)

print(x)

8.0

The math.ceil() method rounds a number upwards to its nearest integer, and the math.floor() method rounds a number downwards to its nearest integer, and returns the result:

In [49]:
import math

x = math.ceil(1.4)
y = math.floor(1.4)

print(x) # returns 2
print(y) # returns 1

2
1

The math.pi constant, returns the value of PI (3.14...):

In [52]:
import math

x = math.pi

print(x)

3.141592653589793

Python JSON

If you have a JSON string, you can parse it by using the json.loads() method.

Convert from JSON to Python:

In [57]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

Convert from Python to JSON:

In [60]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

Convert Python objects into JSON strings, and print the values:

In [63]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

Convert a Python object containing all the legal data types:

In [66]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

Use the indent parameter to define the numbers of indents:

In [70]:
json.dumps(x, indent=4)

'{\n    "name": "John",\n    "age": 30,\n    "married": true,\n    "divorced": false,\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "pets": null,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ]\n}'

Use the separators parameter to change the default separator:

In [73]:
json.dumps(x, indent=4, separators=(". ", " = "))

'{\n    "name" = "John". \n    "age" = 30. \n    "married" = true. \n    "divorced" = false. \n    "children" = [\n        "Ann". \n        "Billy"\n    ]. \n    "pets" = null. \n    "cars" = [\n        {\n            "model" = "BMW 230". \n            "mpg" = 27.5\n        }. \n        {\n            "model" = "Ford Edge". \n            "mpg" = 24.1\n        }\n    ]\n}'

Use the sort_keys parameter to specify if the result should be sorted or not:

In [78]:
json.dumps(x, indent=4, sort_keys=True)

'{\n    "age": 30,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ],\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "divorced": false,\n    "married": true,\n    "name": "John",\n    "pets": null\n}'

Math exercises:

In [110]:
# import math
x = int(input("Input degree:"))
result = math.radians(x)
print(f"{result:.f4}")

Input degree: 15

ValueError: Format specifier missing precision

Math Exercises:

In [4]:
import math
x = int(input("Input degree: "))
print("Output radian: ", math.radians(x))

Input degree:  15

Output radian:  0.2617993877991494

In [10]:
x = int(input("Height: "))
y = int(input("Base, first value: "))
z = int(input("Base, second value: "))
print("Expected Output: ", float((y+z)/2) * x)

Height:  5
Base, first value:  5
Base, second value:  6

Expected Output:  27.5

In [22]:
import math
x = int(input("Input number of sides: "))
y = int(input("Input the length of a side: "))
print(int((x*math.pow(y, 2)) / (4*(math.tan(math.pi/x)))))

Input number of sides:  4
Input the length of a side:  25

625

In [24]:
x = float(input("Length of base: "))
y = float(input("Height of parallelogram: "))
print("Expected output: ", x*y)

Length of base:  4
Height of parallelogram:  5

Expected output:  20.0

Python iterators and generators Excercises:

In [51]:
def squareGen(n):
    for i in range(n + 1):
        yield i ** 2

N = int(input("Enter a number: "))
for square in squareGen(N):
    print(square, end=" ")

Enter a number:  4

0 1 4 9 16

In [45]:
def evenGen(n):
    for i in range(0, n + 1, 2):
        yield i

n = int(input("Enter a number: "))
print(", ".join(map(str, evenGen(n))))

Enter a number:  4

0, 2, 4

In [47]:
def divisible_by_3_and_4(n):
    for i in range(n + 1):
        if i % 3 == 0 and i % 4 == 0:
            yield i

n = int(input("Enter a number: "))
for num in divisible_by_3_and_4(n):
    print(num, end=" ")

Enter a number:  5

0

In [49]:
def squares(a, b):
    for i in range(a, b + 1):
        yield i ** 2

a = int(input("Enter the start number: "))
b = int(input("Enter the end number: "))

for square in squares(a, b):
    print(square, end=" ")

Enter the start number:  4
Enter the end number:  5

16 25

In [53]:
def gen(n):
    for i in range(n, -1, -1):
        yield i

N = int(input("Input the number: "))
for num in gen(N):
    print(num, end=" ")

Input the number:  5

5 4 3 2 1 0

Python date Excercises:

In [56]:
from datetime import datetime, timedelta

currentDate = datetime.today()
newDate = currentDate - timedelta(days=5)

print("Current Date:", currentDate.date())
print("Date after subtracting 5 days:", newDate.date())

Current Date: 2025-02-19
Date after subtracting 5 days: 2025-02-14

In [58]:
from datetime import datetime, timedelta

today = datetime.today()
yesterday = today - timedelta(days=1)
tomorrow = today + timedelta(days=1)

print("Yesterday:", yesterday.date())
print("Today:", today.date())
print("Tomorrow:", tomorrow.date())

Yesterday: 2025-02-18
Today: 2025-02-19
Tomorrow: 2025-02-20

In [60]:
from datetime import datetime

currentTime = datetime.now()
newTime = currentTime.replace(microsecond=0)

print("Original datetime:", currentTime)
print("Datetime without microseconds:", newTime)

Original datetime: 2025-02-19 22:26:07.094891
Datetime without microseconds: 2025-02-19 22:26:07

In [66]:
from datetime import datetime

date1_str = input("Enter first date (YYYY-MM-DD HH:MM:SS): ")
date2_str = input("Enter second date (YYYY-MM-DD HH:MM:SS): ")

date1 = datetime.strptime(date1_str, "%Y-%m-%d %H:%M:%S")
date2 = datetime.strptime(date2_str, "%Y-%m-%d %H:%M:%S")

difference = abs((date2 - date1).total_seconds())

print(f"Difference in seconds: {difference}")

Enter first date (YYYY-MM-DD HH:MM:SS):  2004-12-23 11:40:29
Enter second date (YYYY-MM-DD HH:MM:SS):  2020-05-18 10:20:15

Difference in seconds: 485995186.0